<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增出差')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-trip-add">
        <h4 class="form-header h4">出差信息</h4>
        <div class="form-group">
            <label class="col-sm-3 control-label">总天数：</label>
            <div class="col-sm-8">
                <input name="allDays" class="form-control" readonly type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">总时数：</label>
            <div class="col-sm-8">
                <input name="allHours" class="form-control" readonly type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">出差事由：</label>
            <div class="col-sm-8">
                    <textarea name="talk" class="form-control" ></textarea>
            </div>
        </div>
        <!--   <div class="form-group">
               <label class="col-sm-3 control-label">预支金额：</label>
               <div class="col-sm-8">
                   <input name="advanceMoney" class="form-control" type="text">
               </div>
           </div>-->
        <h4 class="form-header h4">出差明细</h4>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-white btn-sm" onclick="addColumn()"><i class="fa fa-plus"> 增加</i>
                </button>
                <button type="button" class="btn btn-white btn-sm" onclick="sub.delColumn()"><i class="fa fa-minus">
                    删除</i></button>
                <div class="col-sm-12 select-table table-striped">
                    <table id="bootstrap-table"></table>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()">
            <i class="fa fa-check"></i> 申 请
        </button>
        <button type="button" class="btn btn-sm btn-info" onclick="saveHandler()">
            <i class="fa fa-save"></i> 存 稿
        </button>
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()">
            <i class="fa fa-reply-all"></i> 返 回
        </button>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: moment-js"/>

<script th:inline="javascript">
    var prefix = ctx + "ee/trip"
    $("#form-trip-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-trip-add').serialize());
        }
    }

    $("input[name='createDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $(function () {
        var options = {
            pagination: false,
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            sidePagination: "client",
            uniqueId: "index",
            columns: [{
                checkbox: true
            },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                        var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                        return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'fromDate',
                    align: 'center',
                    title: '开始时间',
                    formatter: function (value, row, index) {
                       var html = $.common.sprintf("<input class='form-control' type='text' id='fromDate' readonly name='cwOutWorkitemList[%s].fromDate' value='%s'>", index, value);
                        return html;
                    },
                    events: window.operatEvents = {
                        'change #fromDate': function (e, value, row, index) {
                            row = $("#" + table.options.id).bootstrapTable('getRowByUniqueId', row.index);
                            let fDate = '';
                            fDate = $(e.target).val();
                            row.fromDate = fDate;
                            if (checkRow(row) == false) {
                                row.fromDate = '';
                            }
                            $("#" + table.options.id).bootstrapTable('updateByUniqueId', {id: row.index, row: row});
                            setHourSum(row);
                        }
                    }
                },
                {
                    field: 'toDate',
                    align: 'center',
                    title: '截止时间',
                    formatter: function (value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' id='toDate' readonly name='cwOutWorkitemList[%s].toDate' value='%s'>", index, value);
                        return html;
                    },
                    events: window.operatEvents = {
                        'change #toDate': function (e, value, row, index) {
                            row = $("#" + table.options.id).bootstrapTable('getRowByUniqueId', row.index);
                            let tDate = $(e.target).val();
                            row.toDate = tDate;
                            if (checkRow(row) == false) {
                                row.toDate = '';
                            }
                            $("#" + table.options.id).bootstrapTable('updateByUniqueId', {id: row.index, row: row});
                            setHourSum(row);
                        }
                    }
                },
                {
                    field: 'daySum',
                    align: 'center',
                    title: '天数小计',
                    formatter: function (value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' id='daySum' name='cwOutWorkitemList[%s].daySum' value='%s'>", index, value);
                        return html;
                    },
                    events: window.operatEvents = {
                        'change #daySum': function (e, value, row, index) {
                            row = $("#" + table.options.id).bootstrapTable('getRowByUniqueId', row.index);
                            let val = $(e.target).val();
                            let hourSum =val*8;
                            if (checkRow(row) == false) {
                                $.modal.alertWarning('请先选择开始和截止日期');
                                return;
                            }
                            row.daySum = val;
                            row.hourSum = hourSum;
                            $("#" + table.options.id).bootstrapTable('updateByUniqueId', {id: row.index, row: row});

                        }
                    }
                },
                {
                    field: 'hourSum',
                    align: 'center',
                    title: '时数小计',
                    formatter: function (value, row, index) {
                        var colHidden = $.common.sprintf("<input type='hidden' name='cwOutWorkitemList[%s].daySum' value='%s'>", index, value);
                        var html = $.common.sprintf("<div> %s</div>", value);
                        return colHidden + html;
                    }
                },
                {
                    field: 'remark',
                    align: 'center',
                    title: '备注',
                    formatter: function (value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='cwOutWorkitemList[%s].remark' value='%s'>", index, value);
                        return html;
                    }
                }]
        };
        $.table.init(options);
    });

    function addColumn() {
        var count = $("#" + table.options.id).bootstrapTable('getData').length;
        sub.editColumn();

        $("#" + table.options.id).bootstrapTable('insertRow', {
            index: count,
            row: {
                index: $.table.serialNumber(count),
                fromDate: "",
                toDate: "",
                daySum: "",
                hourSum: "",
                remark: "",
                hritemsId: ""
            }
        });
    }

    function submitHandler() {
        if ($.validate.form()) {
            if ($("input[name='allHours']").val() <= 0) {
                $.modal.alertWarning('请添加您的出差明细信息');
                return;
            }
            $.operate.save(prefix + "/apply", $('#form-trip-add').serialize());
        }
    }

    function saveHandler() {
        if ($.validate.form()) {
            if (checkList() == false) {
                return;
            }
            $.operate.save(prefix + "/save", $('#form-trip-add').serialize());
        }
    }

    function checkList() {
        let data = $("#" + table.options.id).bootstrapTable('getData', {useCurrentPage: true, includeHiddenRows: true});
        let ret = true;
        data.forEach(function (row, i) {
            if ($.common.isEmpty(row.fromDate) || $.common.isEmpty(row.toDate)) {
                ret = false;
                $.modal.msgError('请完整填写开始和截止日期');
                return;
            }
        });
        return ret;
    }

    var distime = [0, 1, 2, 3, 4, 5, 6, 7, 8, 19, 20, 21, 22, 23, 0];
    var dateTimeOption = {
        format: "yyyy-mm-dd hh:ii",
        autoClose: true,
        minuteStep: 60,
        pickTime: false,
        language: 'zh-CN',
        todayHighlight: true,
        pickerPosition: 'top-right',
        bootcssVer: 3, // 显示箭头
        ignoreReadOnly: true,
        showMeridian: true,
        // maxView: 4,
        // viewSelect: 'day',
        hoursDisabled: distime
    };
    $("#bootstrap-table").on("post-body.bs.table", function (e, rows) {
        let allDays = 0;
        let allHours = 0;
        rows.forEach(function (row, i) {
            allDays = Number(allDays) + Number(row.daySum);
            allHours = Number(allHours) + Number(row.hourSum);
            $("input[name='cwOutWorkitemList[" + i + "].fromDate']").datetimepicker(dateTimeOption);
            $("input[name='cwOutWorkitemList[" + i + "].toDate']").datetimepicker(dateTimeOption);

         /*   $("input[name='cwOutWorkitemList[" + i + "].fromDate']").datetimepicker(dateTimeOption).on('change', function (e) {
                e.preventDefault();
                e.stopPropagation();
                let endTime = $(e.target).val();
                $("input[name='cwOutWorkitemList[" + i + "].toDate']").datetimepicker('setStartDate', endTime);
            });
            $("input[name='cwOutWorkitemList[" + i + "].toDate']").datetimepicker(dateTimeOption).on('changeDate', function (e) {
                e.preventDefault();
                e.stopPropagation();
                let endTime = $(e.target).val();
                $("input[name='cwOutWorkitemList[" + i + "].fromDate']").datetimepicker('setEndDate', endTime);
            });*/
        });

        $("input[name='allDays']").val(allDays);
        $("input[name='allHours']").val(allHours);

    });


    function checkRow(row) {
        if ($.common.isEmpty(row.fromDate)) {
            return;
        }
        if ($.common.isEmpty(row.toDate)) {
            return;
        }
        if (moment(row.fromDate) >= moment(row.toDate)) {
            $.modal.msgError('出差的开始时间和截止时间不符合规范')
            return false;
        }
    }

    function setHourSum(row) {
        if ($.common.isEmpty(row.fromDate)) {
            return;
        }
        if ($.common.isEmpty(row.toDate)) {
            return;
        }
        let fd = moment(row.fromDate);
        let td = moment(row.toDate);
        let diffDay, diffHour;

        diffDay = (td.diff(fd, 'days') == 0 ? 1 : td.diff(fd, 'days'));
        diffHour = diffDay * 8;
        if (diffHour < 0) {
            $.modal.msgError('截止日期必须晚于开始日期！')
            return;
        }
        row.daySum = diffDay;
        row.hourSum = diffHour;
        $("#" + table.options.id).bootstrapTable('updateByUniqueId', {id: row.index, row: row});

    }
</script>
</body>
</html>