<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('剩余假期明细')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-remain-detail" th:object="${wfPhOught}">

            <div class="form-group">
                <label class="col-sm-3 control-label">剩余小时数：</label>
                <div th:text="*{phHours}" class="form-control-static">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">剩余天数：</label>
                <div class="form-control-static" th:text="*{phDays}">
                </div>
            </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">假期类型：</label>
                    <div class="form-control-static"
                         th:text="${@dict.getLabel('ee_holiday', wfPhOught.hritemsId)}">
                        <!-- <div name="hritemsId" th:text="*{hritemsId}" class="form-control-static" >-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">最近计算时间：</label>
                    <div class="input-group date">
                        <div name="lastComputeTime"
                             th:value="${#dates.format(wfPhOught.lastComputeTime, 'yyyy-MM-dd')}"
                             class="form-control-static" placeholder="yyyy-MM-dd">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">备注：</label>

                    <div name="remark" th:text="*{remark}" class="form-control-static">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">上年转入天数：</label>

                    <div name="lastYearRollinDays" th:text="*{lastYearRollinDays}"
                         class="form-control-static">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">上年转入时数：</label>

                    <div name="lastYearRollinHours" th:text="*{lastYearRollinHours}"
                         class="form-control-static">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">已用天数：</label>

                    <div name="usedDays" th:text="*{usedDays}" class="form-control-static">

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">已用时数：</label>

                    <div name="usedHours" th:text="*{usedHours}"
                         class="form-control-static">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">属于哪个年份：</label>

                    <div name="belongYear" th:text="*{belongYear}"
                         class="form-control-static">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">本年天数：</label>

                    <div name="curentDays" th:text="*{curentDays}"
                         class="form-control-static">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">本年时数：</label>

                    <div name="curentHours" th:text="*{curentHours}" class="form-control-static">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">手动输入的本年天数：</label>

                    <div name="inputCurentDays"
                         th:text="*{inputCurentDays}"
                         class="form-control-static">
                    </div>
                </div>


    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script th:inline="javascript">
    var prefix = ctx + "ee/remain";
    $("#form-remain-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-remain-edit').serialize());
        }
    }

    $("input[name='lastComputeTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='createDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='modifyDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
</script>
</body>
</html>