<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('可以享受的假期， 根据规则计算出结果列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>手动输入的本年天数：</label>
                                <input type="text" name="onoffStationId"/>
                            </li>
                            <li>
                                <label>剩余小时数：</label>
                                <input type="text" name="phHours"/>
                            </li>
                            <li>
                                <label>剩余天数：</label>
                                <input type="text" name="phDays"/>
                            </li>
                            <li>
                                <label>假期类型：</label>
                                <select name="hritemsId" th:with="type=${@dict.getType('ee_holiday')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>最近计算时间：</label>
                                <input type="text" class="time-input" placeholder="请选择最近计算时间" name="lastComputeTime"/>
                            </li>
                            <li>
                                <label>上年转入天数：</label>
                                <input type="text" name="lastYearRollinDays"/>
                            </li>
                            <li>
                                <label>上年转入时数：</label>
                                <input type="text" name="lastYearRollinHours"/>
                            </li>
                            <li>
                                <label>已用天数：</label>
                                <input type="text" name="usedDays"/>
                            </li>
                            <li>
                                <label>已用时数：</label>
                                <input type="text" name="usedHours"/>
                            </li>
                            <li>
                                <label>属于哪个年份：</label>
                                <input type="text" name="belongYear"/>
                            </li>
                            <li>
                                <label>本年天数：</label>
                                <input type="text" name="curentDays"/>
                            </li>
                            <li>
                                <label>本年时数：</label>
                                <input type="text" name="curentHours"/>
                            </li>
                            <li>
                                <label>手动输入的本年天数：</label>
                                <input type="text" name="inputCurentDays"/>
                            </li>
                            <li>
                                <label>手动输入的本年天数：</label>
                                <input type="text" name="createId"/>
                            </li>
                            <li class="select-time">
                                <label>手动输入的本年天数：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCreateDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCreateDate]"/>
                            </li>
                            <li>
                                <label>手动输入的本年天数：</label>
                                <input type="text" name="modifyId"/>
                            </li>
                            <li>
                                <label>手动输入的本年天数：</label>
                                <input type="text" class="time-input" placeholder="请选择手动输入的本年天数" name="modifyDate"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
          <!--      <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="ee:remain:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="ee:remain:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="ee:remain:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>-->
                <a class="btn btn-primary single disabled" onclick="$.operate.detail()" shiro:hasPermission="ee:remain:edit">
                    <i class="fa fa-edit"></i> 详细
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="ee:remain:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('ee:remain:edit')}]];
        var removeFlag = [[${@permission.hasPermi('ee:remain:remove')}]];
        var hritemsIdDatas = [[${@dict.getType('ee_holiday')}]];
        var prefix = ctx + "ee/remain";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                detailUrl: prefix + "/detail/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "可以享受的假期， 根据规则计算出结果",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'phOughtId',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'phHours',
                    title: '剩余小时数'
                },
                {
                    field: 'phDays',
                    title: '剩余天数'
                },
                {
                    field: 'hritemsId',
                    title: '假期类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(hritemsIdDatas, value);
                    }
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    field: 'lastYearRollinDays',
                    title: '上年转入天数'
                },
                {
                    field: 'lastYearRollinHours',
                    title: '上年转入时数'
                },
                {
                    field: 'usedDays',
                    title: '已用天数'
                },
                {
                    field: 'usedHours',
                    title: '已用时数'
                },
                {
                    field: 'belongYear',
                    title: '属于哪个年份'
                },
                {
                    field: 'curentDays',
                    title: '本年天数'
                },
                {
                    field: 'curentHours',
                    title: '本年时数'
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>